// Variables
@brand-primary: #5f0000;
@brand-primary-on-dark: #fed136;
@brand-danger: #e74c3c;
@gray-darkest: #222;
@gray: #777;
@gray-lighter: #f7f7f7;
@placeholder-text: #bbbbbb;
@cb-caption-background: #f2ed11;